<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link href="page.css" media="print" rel="stylesheet">
    <title>Invoice</title>
    <meta name="description" content="Booking listing">
    <meta name="author" content="">
</head>

<body>

    <h3>Booking List</h3>
    <table>
        <tr>
            <th>person_name</th>
            <th>room_number</th>
            <th>capacity</th>
            <th>check_in</th>
            <th>check_out</th>
        </tr>
        {% for book in booking_list %}
        <tr>
            <td>{{book.name}}</td>
            <td>{{book.room}}</td>
            <td>{{book.capacity}}</td>
            <td>{{book.check_in}}</td>
            <td>{{book.check_out}}</td>
        </tr>
        {% endfor %}
    </table>


</body>

</html>